<div class="story-body">
    <h2>d3 graph</h2>
    <p>Number of Nigerian armed personnel trained by US</p>
    <div id="chart-nigeria"></div>
</div>

<script src="scripts/chart-nigeria.js"></script>

